<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <appSettings>
    <add key="parentTableName" value="Customer"/>
    <add key="childTableName" value="[Order]"/>
    <add key="foreignKeyName" value="IDCustomer"/>
    <add key="idName" value="ID"/>
    </appSettings>
    
    <!--Customer [Order] IDCustomer-->
    <!--Customer Card IDCustomer-->
    
</configuration>